global
    log 127.0.0.1 local2
    chroot /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    maxconn 4000
    user haproxy
    group haproxy
    daemon

defaults
    mode tcp
    log global
    option tcplog
    option dontlognull
    retries 3
    timeout http-request 10s
    timeout queue 1m
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout check 10s
    maxconn 3000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats auth admin:change-me

frontend api
    bind *:6443
    default_backend api_backend

backend api_backend
    balance roundrobin
    server bootstrap 10.0.0.20:6443 check
    server master0 10.0.0.11:6443 check
    server master1 10.0.0.12:6443 check
    server master2 10.0.0.13:6443 check

frontend machine_config
    bind *:22623
    default_backend machine_config_backend

backend machine_config_backend
    balance roundrobin
    server bootstrap 10.0.0.20:22623 check
    server master0 10.0.0.11:22623 check
    server master1 10.0.0.12:22623 check
    server master2 10.0.0.13:22623 check

frontend ingress_http
    bind *:80
    default_backend ingress_http_backend

backend ingress_http_backend
    balance roundrobin
    server master0 10.0.0.11:80 check
    server master1 10.0.0.12:80 check
    server master2 10.0.0.13:80 check

frontend ingress_https
    bind *:443
    default_backend ingress_https_backend

backend ingress_https_backend
    balance roundrobin
    server master0 10.0.0.11:443 check
    server master1 10.0.0.12:443 check
    server master2 10.0.0.13:443 check
